<div class="container mt-4 col-10" id="builds_container">
    
    <% @builds.each do |b| %>
        <div class="col-12 bg-light my-2 py-2 rounded d-flex align-items-center">
            <h4 class="m-0 p-0"><%= b.name %></h4>
        </div>
    <% end %>

</div>