<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Editor</h1>
        <% if ViewHelpers.is_logged_in?(session) %>
            
            <p>Welcome <%= @user.name %></p>
        <% end %>
        
        <ul>
            <li><a href="/information">Information</a></li>
            
            <% if ViewHelpers.is_logged_in?(session) %>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/logout">Log Out</a></li>
            <% else %>
                <li><a href="/login">Log In</a></li>
            <% end %>

        </ul>
        
        <script src="" async defer></script>
    </body>
</html>