    <script src="javascripts/keyboard_editor.js"></script>
    <link rel="stylesheet" href="stylesheets/editor.css">
    
    <% if ViewHelpers.is_logged_in?(session) %>
        <p>Welcome <%= @user.username %></p>
    <% end %>

    <div class="row justify-content-between">
        <div class="col-6 text-left">
            <%= File.read('./public/images/keyboard.svg') %>
        </div>
        <div class="col-3 bg-light text-right">
            <form action="/builds" method="POST">
                <div class="row">
                    <label for="keyboard_name">Name<label>
                    <input type="text" id="keyboard_name" name="keyboard_name"><br>
                </div>
                
                <div class="row">
                    <label for="keycaps_color">Keycaps</label>
                    <select name="keycaps" id="keycaps_color" onchange="changeKeyColor()">
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="Green">Green</option>
                    </select><br>
                </div>

                <div class="row">
                    <label for="case_color">Case</label>
                    <select name="case" id="case_color" onchange="changeCaseColor()">
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="Green">Green</option>
                    </select><br>
                </div>

                <div class="row">
                    <label for="cable_color">Cable</label>
                    <select name="cable" id="cable_color" onchange="changeCableColor()">
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="Green">Green</option>
                    </select><br>
                </div>

                <% if session[:user_id] %>
                    <input class="btn btn-primary" type="submit" value="Submit">
                <% end %>

            </form>
        <div>
    <div>

