    <script src="javascripts/keyboard_editor.js"></script>
    <link rel="stylesheet" href="stylesheets/editor.css">
    
    <% if ViewHelpers.is_logged_in?(session) %>
        <p>Welcome <%= @user.username %></p>
    <% end %>

    <div class="row justify-content-between">
        <div class="col-6 text-left">
            <%= File.read('./public/images/keyboard.svg') %>
        </div>
        <div class="col-3 bg-light text-right">
            <form>
                <label for="keycaps_color">Keycaps</label>
                <select name="keycaps" id="keycaps_color">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="Green">Green</option>
                </select>
            </form>
        <div>
    <div>

